IIC Website/client/node_modules/
IIC Website/client/build/
IIC Website/client/dist/
IIC Website/client/.next/
IIC Website/server/node_modules/
IIC Website/server/dist/
IIC Website/server/build/
IIC Website/.env
IIC Website/client/node_modules/
IIC Website/client/build/
IIC Website/client/dist/
IIC Website/client/.next/
IIC Website/server/node_modules/
IIC Website/server/dist/
IIC Website/server/build/
IIC Website/.env
