.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.loading-spinner-ring {
  border: 5px solid #e5e7eb;
  border-top: 5px solid #9d62bf;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
